numpy
pandas
scikit-learn
imbalanced-learn
lifelines
xgboost
tqdm
plotly
streamlit
streamlit-pdf-viewer
matplotlib
seaborn
joblib
scispacy
spacy>=3.8.14
gdown
https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.4/en_ner_bc5cdr_md-0.5.4.tar.gzpip install -e src/